{%macro datos(name,placeholder,type="text") %}

<label for="name">{{name}}</label>
<p><input name="{{name}}" type="{{type}}" placeholder="{{placeholder}}"></p>


{%endmacro%}


{% macro camposNuevos(field, class="", placeholder="") %}
<div class="form-group">
    {{ field(class=class, placeholder=placeholder, **kwargs) | safe }}
    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endmacro %}

